{% include 'website/common/header.twig' %}

<div id="myprofile">
    <h1>Mein Profil</h1>
    <form id="addressesForm">
        <div class="col-md-6">
            <h3>Rechnungsadresse</h3>
            <div class="form-group">
                <label for="salutationA">Anrede*</label>
                <select id="salutationA" name="salutationA" class="form-control">
                    <option value="1" {% if billingAddress.getSalutation().id == 1 %} selected {% endif %} >Herr</option>
                    <option value="2" {% if billingAddress.getSalutation().id == 2 %} selected {% endif %} >Frau</option>
                </select>
            </div>
            <div class="form-group">
                <label for="firstnameA">Vorname*</label>
                <input id="firstnameA" name="firstnameA" class="form-control" placeholder="Vorname" type="text" value="{{billingAddress.getFirstname()}}">
            </div>
            <div class="form-group">
                <label for="lastnameA">Nachname*</label>
                <input id="lastnameA" name="lastnameA" class="form-control" placeholder="Nachname" type="text" value="{{billingAddress.getName()}}">
            </div>
            <div class="form-group">
                <label for="streetA">Strasse und Hausnummer*</label>
                <input id="streetA" name="streetA" class="form-control" placeholder="Strasse und Hausnummer" type="text" value="{{billingAddress.getStreet()}}">
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="plzA">PLZ*</label>
                        <input id="plzA" name="plzA" class="form-control" placeholder="PLZ" type="text" value="{{billingAddress.getZip()}}">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="cityA">Ort*</label>
                        <input id="cityA" name="cityA" class="form-control" placeholder="Ort" type="text" value="{{billingAddress.getTown()}}">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="checkbox checkbox-success">
                    <input type="checkbox" {% if shippingAddress is not null %} checked {% endif %} id="hasShippingAddress" name="hasShippingAddress">
                    <label for="hasShippingAddress">
                        Andere Lieferadresse
                    </label>
                </div>
            </div>
        </div>
        <div class="col-md-6{% if shippingAddress is null %} hidden {% endif %}" id="shippingAddressArea">
        {% if shippingAddress is null %}
            <h3>Lieferadresse</h3>
            <div class="form-group">
                <label for="salutationB">Anrede*</label>
                <select id="salutationB" name="salutationB" class="form-control">
                    <option value="1" selected >Herr</option>
                    <option value="2" >Frau</option>
                </select>
            </div>
            <div class="form-group">
                <label for="firstnameB">Vorname*</label>
                <input id="firstnameB" name="firstnameB" class="form-control" placeholder="Vorname" type="text" value="">
            </div>
            <div class="form-group">
                <label for="lastnameB">Nachname*</label>
                <input id="lastnameB" name="lastnameB" class="form-control" placeholder="Nachname" type="text" value="">
            </div>
            <div class="form-group">
                <label for="streetB">Strasse und Hausnummer*</label>
                <input id="streetB" name="streetB" class="form-control" placeholder="Strasse und Hausnummer" type="text" value="">
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="plzB">PLZ*</label>
                        <input id="plzB" name="plzB" class="form-control" placeholder="PLZ" type="text" value="">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="cityB">Ort*</label>
                        <input id="cityB" name="cityB" class="form-control" placeholder="Ort" type="text" value="">
                    </div>
                </div>
            </div>
            {% else %}
            <h3>Lieferadresse</h3>
            <div class="form-group">
                <label for="salutationB">Anrede*</label>
                <select id="salutationB" name="salutationB" class="form-control">
                    <option value="1" {% if shippingAddress.getSalutation().id == 1 %} selected {% endif %} >Herr</option>
                    <option value="2" {% if shippingAddress.getSalutation().id == 2 %} selected {% endif %} >Frau</option>
                </select>
            </div>
            <div class="form-group">
                <label for="firstnameB">Vorname*</label>
                <input id="firstnameB" name="firstnameB" class="form-control" placeholder="Vorname" type="text" value="{{shippingAddress.getFirstname()}}">
            </div>
            <div class="form-group">
                <label for="lastnameB">Nachname*</label>
                <input id="lastnameB" name="lastnameB" class="form-control" placeholder="Nachname" type="text" value="{{shippingAddress.getName()}}">
            </div>
            <div class="form-group">
                <label for="streetB">Strasse und Hausnummer*</label>
                <input id="streetB" name="streetB" class="form-control" placeholder="Strasse und Hausnummer" type="text" value="{{shippingAddress.getStreet()}}">
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="plzB">PLZ*</label>
                        <input id="plzB" name="plzB" class="form-control" placeholder="PLZ" type="text" value="{{shippingAddress.getZip()}}">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="cityB">Ort*</label>
                        <input id="cityB" name="cityB" class="form-control" placeholder="Ort" type="text" value="{{shippingAddress.getTown()}}">
                    </div>
                </div>
            </div>
        {% endif %}
        </div>
        <div class="col-md-12">
            <div class="form-group">
                <button type="button" class="btn btn-primary pull-right">Speichern</button>
            </div>
        </div>
    </form>
</div>

{% include 'website/common/footer.twig' %}